

body{
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 9999;
    nav{
        background-color: #B6D0E1;
        border-bottom:5px solid white;
    }    
    a,a:hover{
        color:whitesmoke;
        
    }
}

main{
    margin-top:80px;
    .container{
    max-width: 850px;
    padding: 40px 40px;
    background: #5D98AA;
    .row .listado{
        background-color: rgba(245, 245, 245, 0.589);
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
    .row .lista{
        background-color: whitesmoke;
        margin: 10px;
        padding: 10px;
        border: solid 1px yellow;
        text-align: left;

    }
   
        .formulario{
           
                background-color: #F7F7F7;
                /* just in case there no content*/
                padding: 20px 25px 30px;
                margin: 0 auto 25px;
                margin-top: 50px;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                .persona{
                    background-color: #A32035;
                    padding-bottom: 20px;
                    color: white;
                    
                }
            
            

            .btn {
                background-color: #A32035;
                font-weight: 700;
                
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: default;
            }  
            .boton{
                margin-top: 30px;
            }  
            
        }

    }
}

